<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title> {% block title %} {% endblock %} </title>

    <style>
        {
            % block css %
        }
        
         ::-webkit-scrollbar {
            display: none;
        }
        
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        
        {
            % endblock %
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blogs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container mx-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% block homeactive %} {% endblock homeactive %}" aria-current="page" href="/">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block profileactive %} {% endblock profileactive %}" href="/profile/">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/">{{request.user}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% block registeractive %} {% endblock registeractive %}" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block loginactive %} {% endblock loginactive %}" href="/login/">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <form class="d-flex" method="POST" action="/search/"> {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" name="searched" id="searched" aria-label="Search">
                    <button href="/search/" class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                {% if user.profile.image %}
                <img src="{{user.profile.image.url}}" alt="" class="avatar m-1" "> {% endif %}
            </div>
        </div>
    </nav>
    {% block body %} {% endblock %}

    <footer class="bg-secondary ">
        <div class="container ">
            <footer class="kilimanjaro_area ">
                <!-- Top Footer Area Start -->
                <div class="foo_top_header_one section_padding_100_70 ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-12 col-md-6 col-lg-3 ">
                                <div class="kilimanjaro_part ">
                                    <h5>About Us</h5>
                                    <p>It includes rich features & contents. It's designed & developed based on One Page/ Multi-page Layout,blog themes,world press themes and blogspot. You can use any layout from any demo anywhere.</p>
                                </div>
                                <div class="kilimanjaro_part m-top-15 ">
                                    <h5>Social Links</h5>
                                    <ul class="kilimanjaro_social_links ">
                                        <li><a href="# "><i class="fa fa-facebook " aria-hidden="true "></i> Facebook</a></li>
                                        <li><a href="# "><i class="fa fa-twitter " aria-hidden="true "></i> Twitter</a></li>
    
                                            
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 ">
                                <div class="kilimanjaro_part ">
                                    <h5>Tags Widget</h5>
                                    <ul class=" kilimanjaro_widget ">
                                        <li><a href="# ">Classy</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 d-flex ">
                                <div class="kilimanjaro_part ">
                                    <h5>Latest News</h5>
                                    {% for post in posts %}
                                    <div class="kilimanjaro_blog_area ">
                                        <div class="kilimanjaro_thumb ">

                                        </div>
                                        <h6><a href="/ ">{{post.title| truncatechars:25}}</a></h6>
                                        <p class="kilimanjaro_date ">21 Jan 2018</p>
                                        <p>{{post.content| truncatechars:20}}</p>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 ">
                                <div class="kilimanjaro_part ">
                                    <h5>Quick Contact</h5>
                                    <div class="kilimanjaro_single_contact_info ">
                                        <h5>Phone:</h5>
                                        <p>+255 789 54 50 40 <br> +2255 766 90 94 00</p>
                                    </div>
                                    <div class="kilimanjaro_single_contact_info ">
                                        <h5>Email:</h5>
                                        <p>support@webblogoverflow.com <br> luckmoshy@gmail.com</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 ">
                        <p>© All Rights Reserved by <a href="https://web.facebook.com/mathew.matheo ">@mathewmatheo <i class="fa fa-love "></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>

    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js "></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <link <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js ">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <!------ Include the above in your HEAD tag ---------->

    {% block js %} {% endblock %}
</body>

</html>