{% extends 'base.html' %} {% block title %} Blogs {% endblock %} {% block homeactive %} active {% endblock homeactive %} {% block css %} {% endblock %} {% block body %}
<div class="container mt-2 mb-1">
    <div class="row">
        <div class="col-10 w-100">

            {% for post in posts %}

            <div class="card-group">
                <div class="card m-2">
                    <div class="card-img-top m-1">
                        <img src="/media/{{post.image}}" alt="Card image cap" width="99%" height="370rem">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.content| truncatechars:150}}</p>
                        <p class="card-text"><small class="text-muted">posted by {{post.author}}</small></p>
                        <div class="card-footer d-flex">

                            <a href="blog/{{post.slug}}" class="btn btn-primary">Read More {% if       user.is_superuser %}
                                    <a href="delete_blog_post/{{post.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>

                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
        <div class="col-2 bg-light w-100">

            <a class="nav-link text-decoration-none text-dark btn btn-primary {% block add_blogs_active %} {% endblock add_blogs_active %}" href="/add_blogs/">Add Post</a>
            <h5 class="text-capitalize text-decoration-underline">recent post</h5>
            {% for post in posts %}
            <small>posted by {{post.author}}</small>
            <a href="blog/{{post.slug}}">
                <img src="/media/{{post.image}}" class="img-fluid img-thumbnail" alt="post image">
                <h6 class="text-primary">
                    {{post.slug}}</a>
            </h6>
            </a> {% endfor %}
            <div>ads</div>

        </div>
    </div>
    {% for contact in posts %} {# Each "contact" is a Contact model object. #} {{ contact.full_name|upper }}{% endfor %}

    <div class="pagination">
        <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span> {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">next</a>
        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a> {% endif %}
        </span>
    </div>
</div>
{% endblock %} {% block js %}
<script></script>
{% endblock %}